{#
/**
 * @file
 * Theme for the bloc web push subscription.
 *
 * Variables:
 * - None
 *
 * Keep classes for JS manual_subscription.js :
 * - web-push-button subscribe
 *
 * @see template_preprocess_web_push_subscription()
 */
#}
<div{{ attributes.addClass('web-push-container') }}>
  <p class="web-push-text">
    {{ "The site use Push notification. The button below allow you to Subscribe/Unsubscribe."|t }}
  <p>
  <button class="web-push-button subscribe">{{ "Subscribe"|t }}</button>
</div>
